.containerMain{
    justify-content: space-evenly;
}
.bnt{
    width: 26em;
    height: 4em;
    background-color: var(--body-bg-color);
    border: 0.17em solid var(--purple);
    color: var(--purple);
    font-weight: 600;

    border-radius: 0.3em;
    margin: 0.5em 0em 0.5em 0em;
}
.bnt:hover{
    background-color: var(--purple);
    color: var(--body-bg-color);
    transition: 0.7s;
}